<div class=" flex px-4 mt-5 overflow-y-auto h-2/6">
  <!-- Table -->
  <table
    class='mx-auto w-auto whitespace-nowrap rounded-lg bg-white divide-y divide-gray-300 shadow-xl h-2/6'>
    <thead id="pric">
      <tr class="text-white bgglob text-left">
        <th class="font-semibold text-sm uppercase px-6 py-4 text-center">
          ID
        </th>
        <th class="font-semibold text-sm uppercase px-6 py-4 text-center">
          date_amc
        </th>
        <th class="font-semibold text-sm uppercase px-6 py-4 text-center">
          date_ape
        </th>
        <th class="font-semibold text-sm uppercase px-6 py-4 text-center">
          date_dep_incm
        </th>
        <th class="font-semibold text-sm uppercase px-6 py-4 text-center">
          date_per
        </th>
        <th class="font-semibold text-sm uppercase px-6 py-4 text-center">
          date_recup_ech
        </th>
        <th class="font-semibold text-sm uppercase px-6 py-4 text-center">
          num_ape
        </th>
        <th class="font-semibold text-sm uppercase px-6 py-4 text-center">
          num_incm
        </th>
        <th class="font-semibold text-sm uppercase px-6 py-4 text-center">
          num_lot
        </th>
        <th class="font-semibold text-sm uppercase px-6 py-4 text-center">
          origine
        </th>
        <th class="font-semibold text-sm uppercase px-6 py-4 text-center">
          provenance
        </th>
        <th class="font-semibold text-sm uppercase px-6 py-4 text-center">
          quantite
        </th>
        <th class="font-semibold text-sm uppercase px-6 py-4 text-center">
          dateCreation
        </th>
        
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200">
      <tr>
        <td class="px-6 py-100 text-center">
          {{ctrl.id_ctrl}}
        </td>
        <td class="px-6  text-center text-gray-500">
          {{ctrl.date_amc}}

        </td>

        <td class="px-6  text-center">
          {{ctrl.date_ape}}
        </td>
        <td class="px-6 ">
          <p class="text-gray-500 text-sm font-semibold tracking-wide">
            {{ctrl.date_dep_incm}}
          </p>
        </td>
        <td class="px-6 ">
          <p class="text-gray-500 text-sm font-semibold tracking-wide">
            {{ctrl.date_per}}
          </p>
        </td>
        <td class="px-6 ">
          <p class="text-gray-500 text-sm font-semibold tracking-wide">
            {{ctrl.date_recup_ech}}
          </p>
        </td>
        <td class="px-6 ">
          <p class="text-gray-500 text-sm font-semibold tracking-wide">
            {{ctrl.num_ape}}
          </p>
        </td>
        <td class="px-6" >
          <p class="text-gray-500 text-sm font-semibold tracking-wide">
            {{ctrl.num_incm}}
          </p>
        </td>
        <td class="px-6">
          <p class="text-gray-500 text-sm font-semibold tracking-wide">
            {{ctrl.num_lot}}
          </p>
        </td>
        <td class="px-6">
          <p class="text-gray-500 text-sm font-semibold tracking-wide">
            {{ctrl.origine}}
          </p>
        </td>
        <td class="px-6">
          <p class="text-gray-500 text-sm font-semibold tracking-wide">
            {{ctrl.provenance}}
          </p>
        </td>
        <td class="px-6">
          <p class="text-gray-500 text-sm font-semibold tracking-wide">
            {{ctrl.quantite}}
          </p>
        </td>
        <td class="px-6">
          <p class="text-gray-500 text-sm font-semibold tracking-wide">
            {{ctrl.dateCreation}}
          </p>
        </td>

      </tr>

    </tbody>
  </table>


</div>