<div class=" flex px-4 mt-5 overflow-y-auto h-2/3">
  <!-- Table -->
  <table
    class='mx-auto max-w-6xl w-full whitespace-nowrap rounded-lg bg-white divide-y divide-gray-300 shadow-xl max-h-96'>
    <thead id="pric">
      <tr class="text-white bgglob text-left">
        <th class="font-semibold text-sm uppercase px-6 py-4 text-center">
          ID
        </th>
        <th class="font-semibold text-sm uppercase px-6 py-4 text-center">
          FACTURE
        </th>
        <th class="font-semibold text-sm uppercase px-6 py-4 text-center">
          FACTURE
        </th>
        <th class="font-semibold text-sm uppercase px-6 py-4 text-center">
          FACTURE
        </th>
        <th class="font-semibold text-sm uppercase px-6 py-4 text-center">
          FACTURE
        </th>
        <th class="font-semibold text-sm uppercase px-6 py-4 text-center">
          FACTURE
        </th>
        <th class="font-semibold text-sm uppercase px-6 py-4 text-center">
          FACTURE
        </th>
        <th class="font-semibold text-sm uppercase px-6 py-4 text-center">
          FACTURE
        </th>
        <th class="font-semibold text-sm uppercase px-6 py-4 text-center">
          FACTURE
        </th>
        <th class="font-semibold text-sm uppercase px-6 py-4 text-center">
          FACTURE
        </th>
        <th class="font-semibold text-sm uppercase px-6 py-4 text-center">
          FACTURE
        </th>
        <th class="font-semibold text-sm uppercase px-6 py-4 text-center">
          FACTURE
        </th>
        <th class="font-semibold text-sm uppercase px-6 py-4 text-center">
          FACTURE
        </th>
        <th class="font-semibold text-sm uppercase px-6 py-4 text-center">
          FACTURE
        </th>
        <th class="font-semibold text-sm uppercase px-6 py-4 text-center">
          FACTURE
        </th>


      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200">
      <tr>
        <td class="px-6 py-3 text-center">
          {{ctrl.controlTech}}
        </td>
        <td class="px-6 py-3 text-center text-gray-500">
          {{ctrl.facture}}

        </td>

        <td class="px-6 py-4 text-center">
          {{ctrl.num_fac}}
        </td>
        <td class="px-6 py-4">
          <p class="text-gray-500 text-sm font-semibold tracking-wide">
            {{ctrl.date_amc}}
          </p>
        </td>
        <td class="px-6 py-4">
          <p class="text-gray-500 text-sm font-semibold tracking-wide">
            {{ctrl.date_ape}}
          </p>
        </td>
        <td class="px-6 py-4">
          <p class="text-gray-500 text-sm font-semibold tracking-wide">
            {{ctrl.date_per}}
          </p>
        </td>
        <td class="px-6 py-4">
          <p class="text-gray-500 text-sm font-semibold tracking-wide">
            {{ctrl.date_recup_ech}}
          </p>
        </td>
        <td class="px-6 py-4">
          <p class="text-gray-500 text-sm font-semibold tracking-wide">
            {{ctrl.dateCreation}}
          </p>
        </td>
        <td class="px-6 py-4">
          <p class="text-gray-500 text-sm font-semibold tracking-wide">
            {{ctrl.num_ape}}
          </p>
        </td>
        <td class="px-6 py-4">
          <p class="text-gray-500 text-sm font-semibold tracking-wide">
            {{ctrl.num_incm}}
          </p>
        </td>
        <td class="px-6 py-4">
          <p class="text-gray-500 text-sm font-semibold tracking-wide">
            {{ctrl.num_lot}}
          </p>
        </td>
        <td class="px-6 py-4">
          <p class="text-gray-500 text-sm font-semibold tracking-wide">
            {{ctrl.origine}}
          </p>
        </td>
        <td class="px-6 py-4">
          <p class="text-gray-500 text-sm font-semibold tracking-wide">
            {{ctrl.dateCreation}}
          </p>
        </td>
        <td class="px-6 py-4">
          <p class="text-gray-500 text-sm font-semibold tracking-wide">
            {{ctrl.provenance}}
          </p>
        </td>

        <td class="px-6 py-4">
          <p class="text-gray-500 text-sm font-semibold tracking-wide">
            {{ctrl.quantite}}
          </p>
        </td>





      </tr>

    </tbody>
  </table>


</div>