<div class="relative bg-white shadow-md rounded-md px-8 pt-12 pb-8 mx-5 mb-4 my-2 h-auto">
  <div class="absolute top-0 left-0 w-full h-14 bgh rounded-md rounded-b-none grid grid-flow-col grid-cols-2" id="bg-t">
    <div class="ml-6 mt-2 col-span-2">
      <a class="text-gray-800 text-4xl font-semibold">Controle Technique</a>
      <button (click)="enregistrerClick()" class="text-blue-800 bg-blue-200 hover:bg-blue-400 font-semibold px-2 py-2 rounded-ful self-center ">
        Enregistrer
      </button>
    </div>
    
  </div>
  <form name="form" (ngSubmit)="f.form.valid && enregistrerClick()" #f="ngForm" novalidate>
  <div class="overflow-x-scroll">
<table class=" flex-grow rounded-lg mt-5 text-gray-100 text-sm bg-gradient-to-l from-blue-500 to-blue-600">
  <tr class="text-left border-transparent bgglob ">
    <th class="px-4 py-3">REF PRODUIT</th>
    <th class="px-4 py-3">N° Lots	</th>
    <th class="px-4 py-3">Date de Péremption</th>
    <th class="px-4 py-3">Origine</th>
    <th class="px-4 py-3">provenance</th>
    <th class="px-4 py-3">Quantité</th>
    <th class="px-4 py-3">DATE APE</th>
    <th class="px-4 py-3">N°  APE</th>
    <th class="px-4 py-3">N° BULLETIN INCM</th>
    <th class="px-4 py-3">DATE RECUPERATION ECHANTILLON</th>
    <th class="px-4 py-3">Date AMC</th>
  </tr>
  <tr class="border-b border-indigo-400">
    <td class="px-4 py-3">From DB</td>
    <td class="px-4 py-3"><input name="numLot" [(ngModel)]="form.numLot" required #numLot="ngModel" type="text" class="h-8 text-xs  form-control appearance-none block w-30 bg-transparent text-white border border-white rounded-full "/></td>
    <td class="px-4 py-3"><input name="datePeremption" [(ngModel)]="form.datePeremption" required #datePeremption="ngModel" type="Date" class="h-8 text-xs  form-control appearance-none block w-30 bg-transparent text-white border border-white rounded-full "/></td>
    <td class="px-4 py-3"><input name="origine" [(ngModel)]="form.origine" required #origine="ngModel" type="text" class="h-8 text-xs form-control appearance-none block w-30 bg-transparent text-white border border-white rounded-full "/></td>
    <td class="px-4 py-3"><input name="provenance" [(ngModel)]="form.provenance" required #provenance="ngModel" type="text" class="h-8 text-xs form-control appearance-none block w-30 bg-transparent text-white border border-white rounded-full "/></td>
    <td class="px-4 py-3"><input name="quantite" [(ngModel)]="form.quantite" required #quantite="ngModel" type="text" class="h-8 text-xs form-control appearance-none block w-30 bg-transparent text-white border border-white rounded-full "/></td>
    <td class="px-4 py-3"><input name="dateApe" [(ngModel)]="form.dateApe" required #dateApe="ngModel" type="date" class="h-8 text-xs form-control appearance-none block w-30 bg-transparent text-white border border-white rounded-full "/></td>
    <td class="px-4 py-3"><input name="numApe" [(ngModel)]="form.numApe" required #numApe="ngModel" type="text" class="h-8 text-xs form-control appearance-none block w-30 bg-transparent text-white border border-white rounded-full "/></td>
    <td class="px-4 py-3"><input name="numIncm" [(ngModel)]="form.numIncm" required #numIncm="ngModel" type="text" class="h-8 text-xs form-control appearance-none block w-30 bg-transparent text-white border border-white rounded-full "/></td>
    <td class="px-4 py-3"><input name="dateRecEch" [(ngModel)]="form.dateRecEch" required #dateRecEch="ngModel" type="date" class="h-8 text-xs form-control appearance-none block w-30 bg-transparent text-white border border-white rounded-full "/></td>
    <td class="px-4 py-3"><input name="dateAmc" [(ngModel)]="form.dateAmc" required #dateAmc="ngModel" type="Date" class="h-8 text-xs form-control appearance-none block w-30 bg-transparent text-white border border-white rounded-full "/></td>
  </tr>    
</table>
</div>
</form>
  </div>