<div class="grid bg-white rounded-lg shadow-xl w-11/12 md:w-9/12 lg:w-1/2 mx-auto">

    <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

    <div class="flex justify-center">
      <div class="flex">
        <h1 class="text-gray-600 font-bold md:text-2xl text-xl"></h1>
      </div>
    </div>

    <div class="grid grid-cols-1 mt-5 mx-7">
      <label class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold">Numero</label>
      <input class="py-2 px-3 rounded-full border-2 border-blue-300 mt-1 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent" type="text" placeholder="Nom fournisseur" name="nom" [(ngModel)]="form.nom" required  #nom="ngModel" autofocus=""
      [class.is-invalid]="nom.invalid && nom.touched" id="grid-nom" />
      <div *ngIf="nom.errors && (nom.invalid || nom.touched)">
        <small class="text-danger" *ngIf="nom.errors.required" [class.d-none]="nom.untouched"
          style="font-size: 11px">
          Veuillez saisir un nom</small>
       
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-5 md:gap-8 mt-5 mx-7">
      <div class="grid grid-cols-1">
        <label class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold">Date </label>
        <input class="py-2 px-3 rounded-full border-2 border-blue-300 mt-1 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent" type="date" placeholder="date titre" name="date" [(ngModel)]="form.date" required  #date="ngModel"
        placeholder="date" autofocus="" 
        id="grid-adresse" />
        
      </div>
      <div class="grid grid-cols-1">
        <label class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold">Code</label>
        <input class="py-2 px-3 rounded-full border-2 border-blue-300 mt-1 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent" 
        name="code" [(ngModel)]="form.code" required minlength="3" maxlength="20" #code="ngModel"
          placeholder="code" autofocus="" [class.is-invalid]="code.invalid && code.touched"
          id="grid-pseudo" type="text" />
          <div *ngIf="code.errors && (code.invalid || code.touched)">
            <small class="text-danger" *ngIf="code.errors.required" [class.d-none]="code.untouched"
              style="font-size: 11px">
              Veuillez saisir un code</small>
          </div>
        </div>
      </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-5 md:gap-8 mt-5 mx-7">
      <div class="grid grid-cols-1">
        <label class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold">Montant</label>
        <input class="py-2 px-3 rounded-full border-2 border-blue-300 mt-1 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent"  
        name="montant" type="text" [(ngModel)]="form.montant" placeholder="montant" required  #montant="ngModel"
          [class.is-invalid]="montant.invalid && montant.touched"
          class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-full py-3 px-4"
          id="grid-montant" type="text" placeholder="montant" />
        <div *ngIf="montant.errors && (montant.invalid || montant.touched)">
          <small class="text-danger" *ngIf="montant.errors.required" [class.d-none]="montant.untouched"
            style="font-size: 11px">
            Veuillez saisir un Montant</small>
       
        </div>
      </div>
      <div class="grid grid-cols-1">
        <label class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold">SWIFT</label>
        <input class="py-2 px-3 rounded-full border-2 border-blue-300 mt-1 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent"  type="text" name="swift" [(ngModel)]="form.swift" required  #swift="ngModel"
        placeholder="SWIFT" [class.is-invalid]="swift.invalid && swift.touched"
        id="grid-swift" />
        <div *ngIf="swift.errors && (swift.invalid || swift.touched)">
          <small class="text-danger" *ngIf="swif.errors.required" [class.d-none]="swif.untouched"
            style="font-size: 11px">
            Veuillez saisir le code swif </small>
        </div>
        </div>
      </div>


    <div class='flex items-center justify-center  md:gap-8 gap-4 pt-5 pb-5'>
      <button type="reset" class='w-auto bg-gray-500 hover:bg-gray-700 rounded-full shadow-xl font-medium text-white px-4 py-2'>Réinitialiser</button>
      <button (click)="onSubmit()" class='w-auto bg-blue-500 hover:bg-blue-700 rounded-full shadow-xl font-medium text-white px-4 py-2'>Ajouter</button>
    </div>
</form>
  </div>
