<div class="grid bg-white rounded-lg shadow-xl w-11/12 md:w-9/12 lg:w-1/2 mx-auto">

    <form  name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

    <div class="flex justify-center">
      <div class="flex">
        <h1 class="text-gray-600 font-bold md:text-2xl text-xl"></h1>
      </div>
    </div>

    <div class="grid grid-cols-1 mt-5 mx-7">
      <label class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold">Numero Commande</label>
      <input class="py-2 px-3 rounded-full border-2 border-blue-300 mt-1 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent" type="text" placeholder="Numero" name="num_cmd" [(ngModel)]="form.num_cmd" required  #num_cmd="ngModel" autofocus=""
      [class.is-invalid]="num_cmd.invalid && num_cmd.touched" id="grid-num_cmd" />
      <div *ngIf="num_cmd.errors && (num_cmd.invalid || num_cmd.touched)">
        <small class="text-danger" *ngIf="num_cmd.errors.required" [class.d-none]="num_cmd.untouched"
          style="font-size: 11px">
          Veuillez saisir un numéro de commande</small>
       
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-5 md:gap-8 mt-5 mx-7">
      <div class="grid grid-cols-1">
        <label class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold">Libelle commande </label>
        <input class="py-2 px-3 rounded-full border-2 border-blue-300 mt-1 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent" type="text" placeholder="Libelle" name="libelle_cmd" [(ngModel)]="form.libelle_cmd" required  #libelle_cmd="ngModel"
        autofocus="" 
        id="grid-libelle_cmd" />
        
      </div>
      <div class="grid grid-cols-1">
        <label class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold">Date commande</label>
        <input class="py-2 px-3 rounded-full border-2 border-blue-300 mt-1 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent" 
        name="date_cmd" [(ngModel)]="form.date_cmd" required #date_cmd="ngModel"
          autofocus="" [class.is-invalid]="date_cmd.invalid && date_cmd.touched"
          id="grid-date_cmd" type="date" />
          <div *ngIf="date_cmd.errors && (date_cmd.invalid || date_cmd.touched)">
            <small class="text-danger" *ngIf="date_cmd.errors.required" [class.d-none]="date_cmd.untouched"
              style="font-size: 11px">
              Veuillez choisie une date</small>
          </div>
        </div>
      </div>



    <div class='flex items-center justify-center  md:gap-8 gap-4 pt-5 pb-5'>
      <button type="reset" class='w-auto bg-gray-500 hover:bg-gray-700 rounded-lg shadow-xl font-medium text-white px-4 py-2'>Annuler</button>
      <button (click)="onSubmit()" class='w-auto bg-blue-500 hover:bg-blue-700 rounded-lg shadow-xl font-medium text-white px-4 py-2'>Ajouter</button>
    </div>
</form>
  </div>
