
  <div class="overscroll-auto flex flex-wrap overflow-hidden bgh mx-auto max-w-6xl rounded-lg shadow-xl ">
    <div class="w-full">
        <div class=" space-x-3 pt-2 relative mx-auto text-gray-600 ml-4 h-11 flex flex-row my-2">
            <svg class="h-6 w-6 text-gray-800 mt-2"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 4a1 1 0 011-1h16a1 1 0 011 1v2.586a1 1 0 01-.293.707l-6.414 6.414a1 1 0 00-.293.707V17l-4 4v-6.586a1 1 0 00-.293-.707L3.293 7.293A1 1 0 013 6.586V4z"/>
              </svg>
              <div class="grid md:grid-flow-col auto-cols-auto space-x-4">

              <div class="-pr">
                  <button  routerLink="/suivi-import" type="button" class="focus:outline-none text-white bg-gray-600 border-1 border-gray-300 text-sm py-1 px-5 rounded-full h-8 hover:bg-gray-400 flex items-center">
                    <svg class="w-6 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    Ajouter
                    </button>
              </div>
            </div>
          </div>
    </div>
  </div>
<div class=" flex px-4 mt-5  ">
    
        <!-- Table -->
        <table class='mx-auto max-w-6xl w-full whitespace-nowrap rounded-lg bg-white divide-y divide-gray-300 shadow-xl '>
            <thead id="pric">
                <tr class="text-white bgglob text-left">
                    <th class="font-semibold text-sm uppercase px-6 py-4">
                        Facture
                    </th>
                    <th class="font-semibold text-sm uppercase px-6 py-4">
                        Expéditions
                    </th>
                    <th class="font-semibold text-sm uppercase px-6 py-4">
                        Date Arrivé en stock
                    </th>
                    <th class="font-semibold text-sm uppercase px-6 py-4">
                        Date declaration
                    </th>
                    <th class="font-semibold text-sm uppercase px-6 py-4">
                        Numero declaration
                    </th>
                    <th class="font-semibold text-sm uppercase px-6 py-4">
                        Observation
                    </th>

                    <th class="font-semibold text-sm uppercase px-6 py-4 text-center">
                        Action
                    </th>
                   
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
                <tr *ngFor="let suivi of Suivis | filter:filterTerm" >
                    <td class="px-6 py-4">
                                <p class="text-gray-500 text-sm font-semibold tracking-wide">
                                    {{suivi.fac.num}}
                                </p>
                    </td>
                    <td class="px-6 py-4">
                        <p class="text-gray-500 text-sm font-semibold tracking-wide">
                            {{suivi.shipment}}
                        </p>
                    </td>
                    <td class="px-6 py-4">
                        <p class="text-gray-500 text-sm font-semibold tracking-wide">
                            {{suivi.Date_arrive_stock}}
                        </p>
                    </td>
                    <td class="px-6 py-4">
                        <p class="text-gray-500 text-sm font-semibold tracking-wide">
                            {{suivi.Date_declaration}}
                        </p>
                    </td>
                    <td class="px-6 py-4">
                        <p class="text-gray-500 text-sm font-semibold tracking-wide">
                            {{suivi.num_declaration}}
                        </p>
                    </td>
                    <td class="px-6 py-4">
                        <p class="text-gray-500 text-sm font-semibold tracking-wide">
                            {{suivi.observation}}
                        </p>
                    </td>
                    
                    
                    <td class="px-6 py-4 text-center">
                        <button (click)="updateSuivi(suivi.id)"  class="text-blue-800 bg-blue-600 hover:bg-blue-400 font-semibold px-2 py-2 rounded-ful"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                          </svg></button>
                        <button  (click)="alertConfirmation(suivi.id)"  class="text-red-800 bg-red-600 hover:bg-red-400 font-semibold px-2 rounded-full mx-2 py-2" ><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                          </svg></button>
                    </td>
                </tr>
                
            </tbody>
        </table>

    
</div>
